<div class="rnd-col m4">
    <div class="rnd-card-4 rnd-margin">
      <img src="{{img-src}}" alt="{{title}}" style="width:100%">
      <div class="rnd-container">
        <h3><b>{{title}}</b></h3>
        <h5>{{top-text}}
        <span class="rnd-opacity rnd-tag rnd-round rnd-small rnd-green rnd-right">{{date}}</span></h5>
      </div>
      <div class="rnd-container">
          <p class="rnd-text-trim">{{text}}</p>
          <a href="{{link-href}}" class="rnd-button rnd-green">{{link-text}}</a>
      </div>
        <hr>
    </div>
</div>    